[Desktop Entry]
Name[af]=Dokumentbekyker
Name[an]=Visualizador de documentos
Name[ar]=عارض المستندات
Name[as]=দস্তাবেজ প্ৰদৰ্শক
Name[ast]=Visor de Documentos
Name[be]=Праглядальнік дакументаў
Name[be@latin]=Ahladalnik dakumentaŭ
Name[bg]=Преглед на документи
Name[bn]=নথি প্রদর্শক
Name[bn_IN]=ডকুমেন্ট প্রদর্শন ব্যবস্থা
Name[br]=Lenner teulioù
Name[bs]=Pregledač dokumenta
Name[ca]=Visualitzador de documents
Name[ca@valencia]=Visualitzador de documents
Name[cs]=Prohlížeč dokumentů
Name[cy]=Gwelydd Dogfennau
Name[da]=Dokumentfremviser
Name[de]=Dokumentenbetrachter
Name[dz]=ཡིག་ཆ་མཐོང་བྱེད།
Name[el]=Προβολή εγγράφων
Name[en_CA]=Document Viewer
Name[en_GB]=Document Viewer
Name[en@shaw]=𐑛𐑪𐑒𐑿𐑥𐑩𐑯𐑑 𐑝𐑿𐑼
Name[eo]=Dokumentmontrilo
Name[es]=Visor de documentos
Name[et]=Dokumendinäitaja
Name[eu]=Dokumentu-ikustailea
Name[fa]=نمایشگر سند
Name[fi]=Asiakirjakatselin
Name[fr]=Visionneur de documents
Name[fur]=Visualizadôr di Documents
Name[ga]=Amharcán Cáipéisí
Name[gd]=Sealladair sgrìobhainnean
Name[gl]=Visualizador de documentos
Name[gu]=દસ્તાવેજ દર્શક
Name[he]=מציג מסמכים
Name[hi]=लेखपत्र प्रदर्शक
Name[hr]=Preglednik dokumenata
Name[hu]=Dokumentummegjelenítő
Name[id]=Penampil Dokumen
Name[is]=Skjalaskoðari
Name[it]=Visualizzatore documenti
Name[ja]=ドキュメントビューアー
Name[ka]=დოკუმენტების მნახველი
Name[kk]=Құжаттарды көрсету қолданбасы
Name[km]=កម្មវិធី​មើល​ឯកសារ
Name[kn]=ದಸ್ತಾವೇಜು ವೀಕ್ಷಕ
Name[ko]=문서 보기
Name[ks]=कागजात वुछनुक
Name[ku]=Nîşanderê Belgeyan
Name[lt]=Dokumentų peržiūros programa
Name[lv]=Dokumentu skatītājs
Name[mai]=दस्ताबेज प्रदर्शक
Name[mg]=Mpaneho tahirin-kevitra
Name[mjw]=Document kelang-ason
Name[mk]=Прегледувач за документи
Name[ml]=രേഖാദര്‍ശിനി
Name[mn]=Баримт бичиг үзүүлэгч
Name[mr]=दस्तऐवज दर्शक
Name[ms]=Pelihat Dokumen
Name[my]=ဖိုင်မြင်ကွင်း
Name[nb]=Dokumentvisning
Name[nds]=Dokumentkieker
Name[ne]=कागजात दृश्यक
Name[nl]=Documentweergave
Name[nn]=Dokumentframsynar
Name[oc]=Visionador de documents
Name[or]=ଦଲିଲ ପ୍ରଦର୍ଶକ
Name[pa]=ਦਸਤਾਵੇਜ਼ ਦਰਸ਼ਕ
Name[pl]=Przeglądarka dokumentów
Name[ps]=لاسوند ليدانی
Name[pt]=Visualizador de documentos
Name[pt_BR]=Visualizador de documentos
Name[ro]=Vizualizator de documente
Name[ru]=Просмотр документов
Name[si]=ලේඛන දසුන
Name[sk]=Prehliadač dokumentov
Name[sl]=Pregledovalnik dokumentov
Name[sq]=Shikues dokumentesh
Name[sr]=Прегледач докумената
Name[sr@latin]=Pregledač dokumenata
Name[sv]=Dokumentvisare
Name[ta]=ஆவண காட்டி
Name[te]=పత్ర వీక్షకం
Name[tg]=Муштарии ҳуҷҷат
Name[th]=โปรแกรมดูเอกสาร
Name[tr]=Belge Görüntüleyici
Name[ug]=پۈتۈك كۆرگۈ
Name[uk]=Переглядач документів
Name[vi]=Xem tài liệu
Name[wa]=Håyneu di documints
Name[zh_CN]=文档查看器
Name[zh_HK]=文件檢視器
Name[zh_TW]=文件檢視器
Name[zu]=Isibuki samadokhumende
Name=Document Viewer
Comment[af]=Bekyk multibladsydokumente
Comment[an]=Veyer documentos multipachina
Comment[ar]=اعرض المستندات متعددة الصفحات
Comment[as]=বহু-পৃষ্ঠা দস্তাবেজসমূহ দৰ্শন কৰক
Comment[ast]=Ver documentos multipáxina
Comment[be]=Прагляд шматаркушных дакументаў
Comment[bg]=Преглед на документи с много страници
Comment[bn]=বহুপৃষ্ঠা সম্বলিত নথি প্রদর্শন
Comment[bn_IN]=একাধিক পৃষ্ঠাবিশিষ্ট ডকুমেন্ট দেখুন
Comment[bs]=Pregledajte višestranične dokumente
Comment[ca]=Visualitzeu documents multipàgina
Comment[ca@valencia]=Visualitzeu documents multipàgina
Comment[cs]=Zobrazovat dokumenty po více stránkách
Comment[da]=Vis dokumenter med flere sider
Comment[de]=Mehrseitige Dokumente anzeigen
Comment[el]=Προβολή εγγράφων πολλαπλών σελίδων
Comment[en_CA]=View multi-page documents
Comment[en_GB]=View multi-page documents
Comment[en@shaw]=𐑝𐑿 𐑥𐑩𐑤𐑑𐑰-𐑐𐑱𐑡 𐑛𐑪𐑒𐑿𐑥𐑩𐑯𐑑𐑕
Comment[eo]=Montri mult-paĝajn dokumentojn
Comment[es]=Vea documentos de varias páginas
Comment[et]=Mitmeleheküljeliste dokumentide vaatamine
Comment[eu]=Ikusi orrialde anitzeko dokumentuak
Comment[fa]=نمایش سندهای چند صفحه‌ای
Comment[fi]=Katsele monisivuisia asiakirjoja
Comment[fr]=Afficher des documents multipages
Comment[fur]=Mostre documents multi-pagjine
Comment[gd]=Seall sgrìobhainnean le iomadh duilleag
Comment[gl]=Ver documentos de varias páxinas
Comment[gu]=ઘણા-પાનાનાં દસ્તાવેજો જુઓ
Comment[he]=הצגת מסמכים מרובי עמודים
Comment[hi]=बहु पृष्ठ दस्तावेज देखें
Comment[hr]=Pregled višestraničnih dokumenata
Comment[hu]=Többoldalas dokumentumok megjelenítése
Comment[id]=Lihat dokumen halaman banyak
Comment[is]=Skoða margsíðna skjöl
Comment[it]=Visualizza documenti multi-pagina
Comment[ja]=複数ページのドキュメントを表示します
Comment[kk]=Көппарақты құжаттарды қарау
Comment[km]=មើល​ឯកសារ​មាន​ច្រើន​ទំព័រ
Comment[kn]=ಬಹು-ಪುಟದ ದಸ್ತಾವೇಜನ್ನು ವೀಕ್ಷಿಸು
Comment[ko]=다중 페이지 문서를 봅니다
Comment[ku]=Belgeyên pir-rûpelî nîşan bide
Comment[lt]=Peržiūrėti kelių puslapių dokumentams
Comment[lv]=Skatīt dokumentus, kas sastāv no vairākām lappusēm
Comment[mk]=Прегледај документи со повеќе страници
Comment[ml]=അനവധി പേജുകളുളള രേഖ കാണുക
Comment[mn]=Олон хуудаст баримт бичиг үзэх
Comment[mr]=अनेक-पाने दस्तऐवजांचे दृष्य
Comment[ms]=Lihat dokumen halaman-berbilang
Comment[my]=စာမျက်နှာစုံ ဖိုင်မြင်ကွင်း
Comment[nb]=Vis dokumenter med mange sider
Comment[ne]=बहु पृष्ठ कागजात हेर्नुहोस्
Comment[nl]=Documenten weergeven
Comment[nn]=Vis dokument med mange sider
Comment[oc]=Afichar de documents multipaginas
Comment[or]=ଏକାଧିକ ପ୍ରୁଷ୍ଠା ବିଶିଷ୍ଟ ଦଲିଲଗୁଡ଼ିକୁ ଦେଖନ୍ତୁ
Comment[pa]=ਬਹੁ-ਸਫ਼ਾ ਦਸਤਾਵੇਜ਼ਾਂ ਨੂੰ ਵੇਖੋ
Comment[pl]=Wyświetlanie wielostronicowych dokumentów
Comment[pt]=Ver documentos multipáginas
Comment[pt_BR]=Visualize documentos de múltiplas páginas
Comment[ro]=Vizualizați documente cu mai multe pagini
Comment[ru]=Просмотр многостраничных документов
Comment[sk]=Prezerá dokumenty s viacerými stránkami
Comment[sl]=Poglejte večstranske dokumente
Comment[sr]=Прегледајте вишестраничне документе
Comment[sr@latin]=Pregledajte višestranične dokumente
Comment[sv]=Visa dokument med flera sidor
Comment[ta]=பல பக்க ஆவணங்களை பார்வையிடு
Comment[te]=బహుళ-పుట పత్రాలను వీక్షించు
Comment[tg]=Намоиши ҳуҷҷатҳои бисёрсаҳимфагӣ
Comment[th]=ดูเอกสารแบบหลายหน้า
Comment[tr]=Çok sayfalı belgeleri göster
Comment[ug]=كۆپ بەتلىك پۈتۈكلەرنى كۆرۈش
Comment[uk]=Перегляд багатосторінкових документів
Comment[vi]=Xem nhiều trang tài liệu
Comment[zh_CN]=查看多页文档
Comment[zh_HK]=顯示多頁文件
Comment[zh_TW]=顯示多頁文件
Comment[zu]=Buka amadokhumende wamakhasi amaningi
Comment=View multi-page documents
# Translators: Search terms to find this application. Do NOT translate or localize the semicolons! The list MUST also end with a semicolon!
Keywords[ca]=pdf;ps;postscript;dvi;xps;djvu;tiff;document;presentació;visualitzador;evince;
Keywords[cs]=pdf;ps;postscript;postskript;dvi;xps;djvu;tiff;dokument;prezentace;prohlížeč;evince;
Keywords[da]=pdf;ps;postscript;dvi;xps;djvu;tiff;dokument;præsentation;fremviser;evince;
Keywords[de]=pdf;ps;postscript;dvi;xps;djvu;tiff;Dokument;Präsentation;Betrachter;Evince;
Keywords[el]=pdf;ps;postscript;dvi;xps;djvu;tiff;έγγραφο;παρουσίαση;εφαρμογή προβολής;document;presentation;viewer;evince;
Keywords[en_GB]=pdf;ps;postscript;dvi;xps;djvu;tiff;document;presentation;viewer;evince;
Keywords[eo]=pdf;ps;postscript;dvi;xps;djvu;tiff;dokumento;prezentaĵo;montrilo;evince;
Keywords[es]=pdf;ps;postscript;dvi;xps;djvu;tiff;documento;presentación;visor;evince;
Keywords[eu]=pdf;ps;postscript;dvi;xps;djvu;tiff;dokumentua;aurkezpena;ikustailea;evince;
Keywords[fa]=سند;ارائه;نوشتار;pdf;ps;postscript;dvi;xps;djvu;tiff;document;presentation;viewer;evince;
Keywords[fi]=pdf;ps;postscript;dvi;xps;djvu;tiff;document;presentation;viewer;evince;asiakirja;katselin;esitys;
Keywords[fr]=pdf;ps;postscript;dvi;xps;djvu;tiff;document;présentation;visionneur;visualiseur;evince;
Keywords[fur]=pdf;ps;postscript;dvi;xps;djvu;tiff;document;presentazion;visualizadôr;evince;
Keywords[gl]=pdf;ps;postscript;dvi;xps;djvu;tiff;documento;presentación;visor;evince;
Keywords[he]=‏pdf;ps;פוסטסקריפט;dvi;xps;djvu;tiff;מסמך;מצגת;מציג;evince;
Keywords[hr]=pdf;ps;postskripta;dvi;xps;djvu;tiff;dokument;prezentacija;preglednik;evince;
Keywords[hu]=pdf;ps;postscript;dvi;xps;djvu;tiff;dokumentum;prezentáció;nézegető;evince;
Keywords[id]=pdf;ps;postscript;dvi;xps;djvu;tiff;dokumen;presentasi;peninjau;evince;
Keywords[it]=pdf;ps;postscript;dvi;xps;djvu;tiff;documento;presentazione;visualizzatore;evince;
Keywords[ja]=pdf;ps;postscript;dvi;xps;djvu;tiff;document;presentation;viewer;evince;ポストスクリプト;ドキュメント;文書;プレゼンテーション;ビューアー;
Keywords[kk]=pdf;ps;postscript;dvi;xps;djvu;tiff;document;presentation;viewer;evince;құжат;презентация;көрсету;
Keywords[ko]=pdf;ps;postscript;포스트스크립트;dvi;xps;djvu;tiff;document;문서;presentation;프리젠테이션;viewer;뷰어;보기;evince;에빈스;
Keywords[lt]=pdf;ps;postscript;dvi;xps;djvu;tiff;dokumentas;prezentacija;žiūryklė;evince;
Keywords[lv]=pdf;ps;postscript;dvi;xps;djvu;tiff;dokuments;prezentācija;skatītājs;evince;
Keywords[mjw]=pdf;ps;postscript;dvi;xps;djvu;tiff;document;presentation;viewer;evince;
Keywords[ms]=pdf;ps;postscript;dvi;xps;djvu;tiff;dokumen;persembahan;pelihat;evince;
Keywords[nb]=pdf;ps;postscript;dvi;xps;djvu;tiff;dokument;presentasjon;visning;evince;
Keywords[nl]=pdf;ps;postscript;dvi;xps;djvu;tiff;document;presentation;presentatie;viewer;weergave;evince;
Keywords[pa]=ਪੀਡੀਐਫ;ਪੋਸਟਸਕ੍ਰਿਪਟ;ਡੀਵੀਆਈ;ਦਸਤਾਵੇਜ਼;ਪਰਿਜੈਂਟੇਸ਼ਨ;ਪੋਸਟ-ਸਕ੍ਰਿਪਟ;ਡੌਕੂਮੈਂਟ;ਈਵੈਨਸ;ਈਵੈਂਸ;ਦਰਸ਼ਕ;ਐਕਸਪੀਐਸ;ਪੇਸ਼ਕਾਰੀ;
Keywords[pl]=pdf;ps;postscript;dvi;xps;djvu;tiff;dokument;prezentacja;przeglądarka;evince;
Keywords[pt]=pdf;ps;postscript;dvi;xps;djvu;tiff;documento;apresentação;visualizador; evince;
Keywords[pt_BR]=pdf;ps;postscript;dvi;xps;djvu;tiff;documento;presentation;apresentação;viewer;visualizador,visualização;evince;
Keywords[ro]=pdf;ps;postscript;dvi;xps;djvu;tiff;document;presentation;viewer;prezentare;vizualizator;evince;
Keywords[ru]=pdf;ps;postscript;dvi;xps;djvu;tiff;документ;презентация;просмотр;evince;
Keywords[sk]=pdf;ps;postscript;dvi;xps;djvu;tiff;dokument;prezentácia;prehliadač;prezerač;evince;
Keywords[sl]=pdf;ps;postscript;dvi;xps;djvu;tiff;dokument;predstavitev;pregledovalnik;evince;
Keywords[sr]=pdf;ps;postscript;dvi;xps;djvu;tiff;document;presentation;viewer;evince;пдф;пс;пост-скрипт;дви;икспс;дежави;тифф;документ;презентација;приказивање;евинс;dokument;prezentacija;prikazivanje;evins;
Keywords[sv]=pdf;ps;postscript;dvi;xps;djvu;tiff;dokument;presentation;visare;bläddrare;evince;
Keywords[tr]=pdf;ps;postscript;dvi;xps;djvu;tiff;belge;sunum;görüntüleyici;evince;
Keywords[uk]=pdf;ps;postscript;dvi;xps;djvu;tiff;document;presentation;viewer;evince;документ;презентація;перегляд;евінс;
Keywords[vi]=pdf;ps;postscript;dvi;xps;djvu;tiff;document;tài liệu;tai lieu;presentation;trình diễn;trinh dien;viewer;xem;evince;
Keywords[zh_CN]=pdf;ps;postscript;dvi;xps;djvu;tiff;document;presentation;viewer;文档;演示;幻灯;查看器;
Keywords[zh_TW]=pdf;ps;postscript;dvi;xps;djvu;tiff;document;presentation;viewer;evince;文件;簡報;檢視器;
Keywords=pdf;ps;postscript;dvi;xps;djvu;tiff;document;presentation;viewer;evince;
TryExec=evince
Exec=firejail evince %U
StartupNotify=true
Terminal=false
Type=Application
# Translators: Do NOT translate or transliterate this text (this is an icon file name)!
Icon=org.gnome.Evince
Categories=GNOME;GTK;Office;Viewer;Graphics;2DGraphics;VectorGraphics;
MimeType=application/vnd.comicbook-rar;application/vnd.comicbook+zip;application/x-cb7;application/x-cbr;application/x-cbt;application/x-cbz;application/x-ext-cb7;application/x-ext-cbr;application/x-ext-cbt;application/x-ext-cbz;application/x-ext-djv;application/x-ext-djvu;image/vnd.djvu+multipage;application/x-bzdvi;application/x-dvi;application/x-ext-dvi;application/x-gzdvi;application/pdf;application/x-bzpdf;application/x-ext-pdf;application/x-gzpdf;application/x-xzpdf;application/postscript;application/x-bzpostscript;application/x-gzpostscript;application/x-ext-eps;application/x-ext-ps;image/x-bzeps;image/x-eps;image/x-gzeps;image/tiff;application/oxps;application/vnd.ms-xpsdocument;application/illustrator;
